.QuestionDev{
    Width : 85%;
    Margin-left : 135px;
    border:1px solid black ;
    background: rgba(180, 180, 180, .73);
    Margin-top : 80px;
    Position : static;
}


.ButtonAdd{
    margin-top : 30px;
    margin-left : 190px;
}

.TextBoxQuestion{
    background: whitesmoke;
    color: black;
    width: 50%;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 0 #ccc inset;
    text-align : center;
    Margin-left :30px;
    Margin-Top : 30px;
}


.SelectQuestion{
    background: whitesmoke;
    color: black;
    width: 200px;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 0 #ccc inset;
    text-align : center;
    Margin-left :30px;
    Margin-Top : 30px;
}
